.main{
    text-align: center;
}

.mh{
    font-size: 50px;
    font-family: sans-serif;
    /* background: wheat; */
    border-radius: 10px;
    margin-left: 90px;
}

body{
    background: #eee;
    font-family: sans-serif;
}

.row{
    /* display: flex; */
    width: 80%;
    margin: 50px 90px auto;
    /* background: #fff; */
    border-bottom: 4px solid rgb(255, 115, 0);
}

.new,
.total,
.death,
.todeath,
.recove{
    padding: 20px;
    text-align: center;
    margin: 0px auto;
}

.new{
    color: orangered;
}

.total{
    color: blueviolet;
}

.death{
    color: greenyellow;
}

.todeath{
    color: orchid;
}

.recove{
    color: maroon;
}

table{
    border-collapse: separate;
    width: 80%;
    margin: 0px auto;
    border-spacing: 0 12px;
}

table thead tr{
    background: #fff;
}

table thead tr th{
    padding: 18px 12px;
    text-align: left;
}

table tbody tr{
    background: white;
}

table tbody tr td{
    padding: 18px 12px;
    text-align: left;
}